/* flex  */
/*.felx-container {
  display: flex 110;
}*/

body {
  margin: 2rem;
  font-weight: 400;
  line-height: 1.563;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Categories forsiden*/
.grid-container-Categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.grid-container-Categories a {
  text-decoration: none;
  padding: 2em;

  border-radius: 5px;
  font-size: 1.5em;
}

h1 {
  padding-top: 6rem;

  font-size: 4.5em;
}
h1 span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
  color: var(--off-color);
}
@media screen and (min-width: 700px) {
  .mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
h2 {
  line-height: 1;
  font-size: 3em;
}
.fashion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

nav a {
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;
  text-decoration-color: rgb(121, 121, 122);
  border-radius: 5px;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}
.Categories {
  font-size: 1.5em;
  line-height: 1.563;
}
/* produkt  display: grid;grid-template-rows: sugrid*/

/*produktlisete */
.productlist main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 2rem;
}
.productlist main h2 {
  grid-column: 1/-1;
}

.produktliste-1163 {
  display: flex;
  flex-direction: column;
}
.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
}
.productlist {
  font-size: 0.9rem;
  margin: 45px;
}
.mony {
  display: flex;
  justify-content: space-between;
}
.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}

/*produkt */

body {
  font-family: Arial, sans-serif;
  background: #222; /* mørk baggrund */
  color: #fff;
  margin: 0;
  padding: 0;
}

section.info {
  max-width: 50%;
  padding: 2rem;
}

section.info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

dl {
  margin: 1rem 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1rem 0;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
}

/* Højre boks */
section.box {
  background: #98bfd0;
  color: #222;
  padding: 2rem;
  border-radius: 10px;
  max-width: 308px;
  position: absolute;
  top: 1200px;
  right: 150px;
}

section.box h3 {
  margin-top: 0;
  font-size: 35px;
}

.category {
  color: #555;
  margin-bottom: 1rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.basket-btn {
  display: block;
  width: 100%;
  background: #444;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.basket-btn:hover {
  background: #666;
}
label {
  font-size: 20px;
}
