/* Categories forsiden*/
.categories a {
  color: rgb(255, 252, 252);
  background-color: rgb(130, 130, 130);
}
a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #272727;
}
h1,
h2,
.productlist article h3,
.price {
  color: white;
}
.Tshirts {
  color: #666565;
  font-size: 20px;
}
.rabat {
  border-radius: 2px;
  background-color: red;
  color: white;
  padding: 0.4em;
  border-radius: 1px;
}
p {
  margin-bottom: 1.563rem;
}
select {
  min-width: 100px;
}
select {
  -webkit-appearance: none;
  padding-left: 1.2rem;
  font-size: 1.3rem;
  border: 2px solid rgb(76, 72, 214);
  border-radius: 10px;
  color: black;
  height: 2.5rem;
  background-color: #fffafa;
  background-image: url(/img/flere.png);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center right 0.5rem;
}
/* Billedet i midten */
.product-image {
  flex: 1.5;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10rem;
}

.product-image img {
  width: 76%;
  height: auto;
  border-radius: 8px;
}
.productlist article.soldOut img {
  opacity: 0.5;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: white;
  color: rgb(76, 75, 75);
  padding: 1rem;
}
#filters button {
  background: #c9c9f2;
  color: #242428;
  padding: 1rem;
  font-size: medium;
  border-color: #1fc2f9;
}
